<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width">
  <link rel="manifest" href="manifest.json">
  <link rel="shortcut icon" href="favicon.ico">
  <title>React Palm Game<%= process.env.NODE_ENV === 'production' ? '' : '(dev)' %></title>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="root"></div>
</body>

</html>
