@panelPrimary: lightskyblue;
@panelBright: rgb(172, 222, 255);
@panelDark: #5f92bd;


.console {
  width: 480px;
  position: absolute;
  padding-top: 50px;
  z-index: -2;

  background: @panelPrimary;
  border: outset 3px @panelPrimary;
  border-radius: 10px;

  .upperRect {
    width: 380px;
    padding: 28px 0 16px;
    border: #000 solid;
    border-width: 0 6px 6px;
    margin: 0 auto;
    position: relative;

    .screenRect {
      width: 340px;
      height: 400px;
      border: solid 5px;
      border-color: @panelDark @panelBright @panelBright @panelDark;
      margin: 0 auto;
      position: relative;
      .flexBox
    }
  }

  .lowerRect {
    width: 360px;

    padding: 20px 40px 20px;
    z-index: 1;
  }
}

.flexBox{
  display: flex;
}