@panelPrimary: lightskyblue;
@panelBright: rgb(172, 222, 255);
@panelDark: #5f92bd;


.console {
  width: 420px;
  position: absolute;
  margin: 4px;
  padding-top: 12px;

  background: @panelPrimary;
  border: outset @panelPrimary;

  .upperRect {
    width: 380px;
    padding: 18px 0 8px;
    border: #000 solid;
    border-width: 0 4px 4px;
    margin: 0 auto;
    position: relative;

    .screenRect {
      width: 360px;
      height: 420px;
      border: solid 2px;
      border-color: @panelDark @panelBright @panelBright @panelDark;
      margin: 0 auto;
      position: relative;
      .flexBox
    }
  }

  .lowerRect {

  }
}

.flexBox{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}