@import "LifeBar";

@activeColor: #161616;
@deactiveColor: darken(@backgrounColor, 5%);
@backgrounColor: #9ead86;

.screen {
  flex: 100%;
  background: @backgrounColor;
  padding: 4px;
  border: 1px solid #000;
  display: flex;

  .matrixArea {
    width: 230px;
  }

  @indiWidth: 100px;
  .indicationArea {
    width: @indiWidth;
    text-align: right;
    font-size: 16px;
    line-height: 16px;

    > div > p {
      margin: 6px 2px 6px;
    }

    .scoreShow {
      margin-top: 10px;
    }

    .levelShow {
      margin-top: 40px;
    }

    @lifeWidth: (@heartSize + 4)*5;
    .lifeShow {
      width: @lifeWidth;
      margin-top: 40px;
      margin-left: @indiWidth - @lifeWidth;
      > div {
        right: 0;
      }
    }
  }
}

