@activeColor: #161616;
@deactiveColor: #879372;
@backgrounColor: #9ead86;

.screen {
  flex: 100%;
  background: @backgrounColor;
  padding: 4px;
  border: 1px solid #000;
  display: flex;

  .matrixArea {
    width: 230px;
  }

  .indicationArea {
    width: 100px;
  }
}

